{% extends 'base.html.twig' %}

{% block title %}
	{{ user.username }}
{% endblock %}

{% block body %}
	<h2 class="mb-3">{{ user.username }}</h2>
	<div class="row">
		<div class="col-1 col-sm-3 rounded bg-light p-2">
			<h3>Information de l'utilisateur</h3>
			<p>
				{{ user.firstname }}
				{{ user.lastname }}
			</p>
			<p>
				{{ user.email }}</p>
			<p>
				{{ user.address }}
				{{ user.zipCode }}
			</p>
			<p>
				{{ user.phoneNumber }}
			</p>
		</div>
		<div class="col pl-2">
			<div class="row row-cols-1 px-4">
				<h3 class="w-100">Les tickets crées</h3>
				{% for ticket in tickets %}
					{% include '_partials/ticket/card.html.twig' with {ticket: ticket} only %}
				{% endfor %}
				<h3 class="mt-3 w-100">Les réponces données</h3>
				{% for answer in answers %}
					{% include '_partials/answer/answer.html.twig' with {answer: answer} only %}
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
