{% extends 'base.html.twig' %}

{% block title %}
	{{ticket.title}}
{% endblock %}

{% block body %}
	<h1>{{ticket.title}}</h1>
	<a href="{{path('category-bySlug', {slug: ticket.category.slug })}}" class="badge bg-primary">
		{{ticket.category.title }}</a>
	<small class="text-black-50">
		{{  ticket.publishedDate|date('d/m/Y H:i') }}
	</small>
	<div class="mt-2 mb-4">Auteur :
		{{ ticket.author.username }}</div>
	<h2>Les réponces</h2>
	<div class="row row-cols-1 mt-2">
		{% for answer in answers %}
			{% include '_partials/answer/answer.html.twig' with {answer: answer} only %}

		{% endfor %}
	</div>
{% endblock %}
